@import "tailwindcss";

:root{
  font-size: 18px;
}

@theme {
  --color-red: #e0363e;
  --color-black: #010101;
  --color-yellow: #FFC107;
  --color-graphite: #313434;
  --color-light-grey: #10555E;
  --color-rose: #e07176;
  --color-yellow-bright: #FDE305;
  --color-plum: #8C3B60;
 --color-lime: #98DB14;
  --color-burgundy: #6B0142;
  --color-deep-black: #030d0c;

  --color-muted-steel-blue: #94A3B8;
}
body {
  font-family: var(--font-plex-sans), system-ui, sans-serif;
}
.carousel-container {
  .react-multiple-carousel__arrow{
    display: none;
    border: 1px solid #94A3B8 !important;
    background-color: transparent;
    transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease;

    &::before {
      color: #94A3B8 !important;
    }

    &:hover,
    &:focus-visible,
    &:active {
      border-color: #94AAB8 !important;
      background-color: #030d0c !important;

      &::before {
        color: #94AAB8 !important;
      }
    }
  }
}

/* ≥ 480px — Large phones */
@media (min-width: 480px) {
  
}

/* ≥ 640px — Small tablets / large phones in landscape */
@media (min-width: 640px) {
  
}

/* ≥ 768px — Tablets */
@media (min-width: 768px) {
  
}

/* ≥ 1024px — Small laptops */
@media (min-width: 1024px) {
  .react-multiple-carousel__arrow{
    display: block;
  }
}

/* ≥ 1280px — Desktops */
@media (min-width: 1280px) {
  
}